{% extends 'base.html' %}

{% block title %}
<title>Create TODO Item</title>
{% endblock title %}

{% block main %}
<main>
    <div>
        <h1>Create a new item</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
    </div>
</main>
{% endblock main %}