{% extends 'base.html' %}

{% block title %}
<title>Delete {{ todolist }}</title>
{% endblock title %}

{% block main %}
<main>
    <div>
        <h1>Are you sure?</h1>
        <form method="POST">
            {% csrf_token %}
            <button>Delete</button>
        </form>
    </div>
</main>
{% endblock main %}