{% extends 'base.html' %}

{% block title %}
<title>{{ todolist }}</title>
{% endblock title %}

{% block main %}
<main>
    <div>
        <h1>{{ todolist }}</h1>
        <p>
            <a href="{% url 'update_todolist' todolist.id %}">Edit</a>
        </p>
        <p>
            <a href="{% url 'delete_todolist' todolist.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in todolist.items.all %}
            <tr>
                <td>
                    <a href="{% url 'update_todoitem' item.id %}">{{ item }}</a>
                </td>
                <td>{{ item.due_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock main %}