{% extends 'base.html' %}

{% block title %}
<title>TODO Lists</title>
{% endblock title%}

{% block main %}
<main>
    <div>
        <h1>My Lists</h1>
        <p>
            <a href="{% url 'create_todolist' %}">Create a new list</a>
        </p>
        <p>
            <a href="{% url 'create_todoitem' %}">Create a new item</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
            </thead>
            <tbody>
                {% for todolist in todolist_list %}
                <tr>
                    <td>
                        <a href="{% url 'show_todolist' todolist.pk %}">{{ todolist }}</a>
                    </td>
                    <td>{{ todolist.items.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

</main>
{% endblock main %}