{% extends 'base.html' %}

{% block title %}
<title>Update {{ todoitem }}</title>
{% endblock title %}

{% block main %}
<main>
    <div>
        <h1>Update {{ todoitem }}</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Update</button
        </form>
    </div>
</main>
{% endblock main %}