{% load static %}

<!doctype html>
<html lang="en">
<head>
    {% block title %}
    <title>TODO Lists</title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/apps.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                <a href="{% url 'home' %}">TODO Lists</a>
                </li>
                {% if user.is_staff %}
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block main %}
    {% endblock main %}
</body> 
</html>
